<footer>
        <p class="p-footer">&copy; Designed By: SaraMagdy</p>
        <script type="text/javascript" src="/public/js/main.js"></script>
        <script type="text/javascript" src="/public/js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="/public/js/todo-list.js"></script>
 
      </footer>
    </body>
  </html>
  