<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="description" content="Login Traning" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <title>Login</title>
    <link rel="stylesheet" href="/public/style/style.css" type="text/css"/>
  </head>
  <body>
    <!-- The Head Of Page-->
    <header>
      <!-- The Navbar Of Page-->
      <nav>
        <a class="header-logo" href="#">
          <img src="/public/img/logo2.png" alt="logo"/>
        </a>
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/myprofile/sara">Portfolio</a></li>
          <li><a href="/todo">ToDO List</a></li>
        </ul>
      </nav>
        <!-- The Login Of Page-->
      <div class="header-login">
            <form class="login-f" action="/signin" method="POST">
                <input type="text" name="username" placeholder="Username E-mail"/>
                <input type="password" name="password" placeholder="Password" />
                <button type="submit" name="login-submit">Login</button>
              </form>
        <!-- The Register Of Page-->
        <a href="signup.php" class="signup-l">SignUp</a>
        <!-- The signout Of Page-->
        <form class="signout-f" action="includes/logout.inc.php" method="post">
          <button type="submit" name="logout-submit">Logout</button>
        </form>
      </div>
    </header>
    <!-- End Of Header -->
