/* STYLE */
*{
  box-sizing: border-box;
  font-family:Courier New;
  padding:0px;
}
html, body {
  height: 100%;
  margin: 0;
}
main{
  min-height: 100%;
  margin-bottom:-50px;
}
nav a img {
  transition-property:transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  width: 70px;
  max-width:70px;
  margin-left:4px;
}
nav a img:hover{
    transform:rotate(360deg);
}
nav {
  display:flex;
  flex-wrap: wrap;
  align-items: center;

}
nav ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 20px;
}
nav ul li{
  list-style: none;
  padding: 8px;
  margin: 0px 3px;
  background:#3c6382;
  font-weight: bold;
  height: auto;
  border: 2px solid #3c6382;
  border-radius: 4px;
  cursor: pointer;
  width:120px;
  max-width: 100%;
  text-align: center;
}
nav ul li:hover {
  background:black;
   border: 2px solid black;
  color: white;
  box-shadow: 0px 0px 4px #080808;
}
nav ul li a {
  text-decoration: none;
  color:snow;
}
header {
  display: flex;
  background:#222222;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header-login {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-wrap: wrap;
}
.login-f {
  margin: 0px 5px;

}
.login-f button{

  background: snow;
  border: 0px;
  border-left:6px solid #3c6382;
  width: 85px;
  height: 35px;
  font-weight: bold;
  cursor: pointer;
   text-align:center;
   border-radius:4px;
    position:relative;
  overflow: hidden;
  transform: translateZ(0px);
}
.login-f button:before{
   content:"";
   transition-property: right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  z-index: -1;
  background: #3c6382;
  height: 50px;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 100%;

}
.login-f button:hover:before{
    right:0;
}
.login-f button:hover{
  color: white;
}
.login-f input {
  width: 175px;
  border: 0px;
  border-top:4px solid #3c6382;
  border-radius: 3px;
  height:35px;
  padding:4px;
}
.signout-f button{
  background: snow;
  border: 0px;
  border-left:6px solid #3c6382;
  width: 85px;
  height: 35px;
  font-weight: bold;
  cursor: pointer;
   text-align:center;
   border-radius:4px;
  margin: 0px 5px;
  position:relative;
  overflow: hidden;
  transform: translateZ(0px);
}
.signout-f button:before{
  content: "";
  position: absolute;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #3c6382;
  height: 50px;
  transition-property: right;
  transition-duration: 0.3s;
  z-index: -1;
  transition-timing-function: ease-out;


}
.signout-f button:hover:before{
   right: 0;

}
.signout-f button:hover{
  color:white;
}
/*.signout-f button:hover{
   border-width:8px;
   background:black;
   border-left:6px solid black;
   color: white;
    box-shadow: 0px 0px 4px #080808;

}
*/
.signup-l{
  background:#3c6382;
  color:snow;
  width: 80px;
  text-align: center;
  font-weight: bold;
  border: 6px solid #3c6382;
  border-radius: 3px;
  cursor: pointer;
  height: 35px;
  text-decoration:none;
  margin:0px 5px;
  padding: 3px;
  transition:0.3s all ease-in-out;

}

.signup-l:hover{
   background:black;
   border:6px solid black;
   color: white;
   box-shadow: 0px 0px 4px #080808;
}

.main-div {
  text-align: center;
  width: 550px;
  margin: 60px auto;

}
.main-div p{
  color: #ecf0f1;
    background: #2d2d2d;
  height: 35px;
  padding: 8px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 1px 0.5px 6px #2c3e50;
}
footer{
  display: flex;
  justify-content:center;
  background: #222222;
  width: 100%;
  text-align: center;
  color:snow;
  font-weight: bold;
  height: 50px;
}

#todo-table{
  position: relative;
  width: 95%;
  background: #090d13;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  height: 80%;
}

#todo-table form:after{
  margin: 0;
  content: '';
  display: block;
  clear: both;
}

#item{
  width: 70%;
  padding: 20px;
  background: #181c22;
  border: 0;
  float: left;
  font-size: 20px;
  color: #989898;
}

#add_button{
  padding: 20px;
  width: 30%;
  float: left;
  background: #23282e;
  border: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}

#todo_ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#todo_ul li{
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  cursor: pointer;
  letter-spacing: 1px;
  color: snow;
  text-align: center;
}

#todo_ul li:hover{
  text-decoration: line-through;
  background: rgba(0,0,0,0.2);
}