<% include ../partials/header.ejs %>
<div id="todo-table">
    <form>
        <input id="item" type="text" name="item" required placeholder="add new item ..">
        <button id="add_button" type="submit">Add Item</button>
    </form>

    <ul id="todo_ul">
        <%for(var i=0 ; i < todos.length ; i++){ %>
            <li class="item_list"><%= todos[i].item %></li>
        <%}%>
        
        
    </ul>

</div>

<% include ../partials/footer.ejs %>