   <% include partials/header.ejs %>
   
   <main>
        <div class="main-div">
          <p> You'r Logged In <%= person %> </p>
          <p> You'r Not User </p>
        </div>
      </main>

<% include partials/footer.ejs %>